<h2><%= @movie.title %></h2>


<p><%= @movie.description %></p>

<p>Awards for this Movie:</p>
<% @movie.movie_awards.each do |movie_award| %>
  <%= movie_award.year %>
<% end %>
<% @movie.awards.each do |award| %>
  <%= award.title %>
<% end %>
